<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Seattle Feminist JS</title>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="apple-touch-icon" href="icon.png"/>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <!-- bower:css -->
  <!-- endbower -->

  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <!-- endbower -->
</head>
<body>
